<div class="flight-card">
  <div class="flight-info-inline">
    <span class="flight-number">✈️ <%= flight[:flight_number] %></span>
    <span class="flight-city"><%= flight[:source] %></span>
    <span class="divider">to</span>
    <span class="flight-city"><%= flight[:destination] %></span>
  </div>
</div>