 <header class="header">
  <div class="header-container">
  <div class="logo-group">
      <%= image_tag("logo.png", alt: "SkyReady Logo", class: "logo-img") %>
  </div>
  <nav class="nav-links">
      <%= link_to "Home", root_path, class: "nav-button" %>
  </nav>
  </div>
</header>