/*
 *= require_self
 *= require_tree .
 *= require /home
 *= require /footer
 *= require /header
 *= require /search
 *= require /flight_result_card
 */

body {
  margin: 0;
  padding-bottom: 70px;
  padding-top:70px;
}