.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list.show {
  display: block;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.search-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -80px;
  
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
}
.input-field input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.search-button {
  width: 120px;
  padding: 10px 16px;
  background: #000080;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.search-button:hover {
  background-color: #ff6b35;
}

.input-fields-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -7px;
}
.input-dropdown input[type="text"]::placeholder {
  color: #999;
  font-family: "Poppins", sans-serif;
}

.input-field label {
  margin-bottom: 6px;
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.input-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
}

.input-label {
  margin-bottom: 6px;
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.input-dropdown input[type="text"],
.input-dropdown input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.date-picker {
  appearance: none;
}

.search-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 20px;

}
.search-error:empty{
  margin-top: 0;
}

@media (max-width: 768px) {
  .input-fields-row {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    min-width: 300px;
  }

  .input-field,
  .input-dropdown {
    width: 90%;
    max-width: 400px;
  }

  .search-button {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .search-container {
    padding: 20px;
  }

  .input-dropdown input,
  .search-button {
    padding: 10px;
    font-size: 1rem;
  }
}
